<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
		<add name="main" providerName="System.Data.SqlClient" connectionString="Data Source=DEVMAIN1;Initial Catalog=fxDB6;Persist Security Info=True;User ID=appUser_CoreAPI1;Password=@ppC0r3ap1" />
		<add name="readonlyTransactional" providerName="System.Data.SqlClient" connectionString="Data Source=10.30.108.11;Initial Catalog=fxDB6;Persist Security Info=True;User ID=RIAFXOnline1;Password=R1a*#*DevOnlin31" />
	</connectionStrings>
	<appSettings>
		<add key="ApplicationId" value="8000" />
		<add key="AppObjectId" value="0" />
		<add key="redisConnection" value="devappfab1.riadev.local:6379,devappfab2.riadev.local:6379,abortConnect=false" />
		<add key="redisCacheTimeout" value="0.00:15:00" />
		<add key="redisClientName" value="CES.CoreApi.BankAccount.Api" />
    <add key="SettingTOMin" value="1" />
    <add key="SB_PGP_LicenseKey" value="D786BD5FFB521444B5671698FA5D7C514FB5439973FAE5AD0989A40D298004B46CD12CAA455D9F8F14A7514647CCB6C0768E979AB71349E306988E3450100131993622E2C5B24154CB6003039941F94EB1D360CCE91D23EDDD4DBFBB286AAFC3EFE107E72A951B429411B2BB7BF7C8C22683BF3F23B4C5F0F241063D8B6F0ADD4BF0FDB3E6ADFA746E2928C36C54A8D24504758DBA6F3D48CD542F06A7FB27CABB2493789EB8B3362781691D4CC7335317511A8993E5FAA97ABD654F19AC8F4AC0D8F6E824E3028C2C4F576086A959A2B63576B7ED9E809DD30521A57B8E44ED59873BCD78E68F5997C029520A666CEE44096158C963CC7FAC38C568298FA521" />
    <add key="Queue" value="700" />
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <appender name="GelfUdpAppender" type="gelf4net.Appender.GelfUdpAppender, Gelf4net">
      <remoteAddress value="127.0.0.1" />
      <remotePort value="12200" />
      <layout type="Gelf4net.Layout.GelfLayout, Gelf4net">
        <param name="AdditionalFields" value="app:App_Name,service:Service_Name,date:%date,thread:%thread,level:%level" />
        <param name="ConversionPattern" value="%message" />
      </layout>
    </appender>
	  <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
		  <file type="log4net.Util.PatternString" value="C:\logs\CES.CoreApi.BankAccount.Api\Logs_%date{yyyy-MM-dd}.txt" />
		  <layout type="log4net.Layout.PatternLayout">
			  <param name="ConversionPattern" value="%newline%date - %m%newline" />
		  </layout>
		  <filter type="log4net.Filter.LevelMatchFilter">
			  <acceptOnMatch value="true" />
			  <levelToMatch value="INFO" />
		  </filter>
		  <filter type="log4net.Filter.LevelMatchFilter">
			  <acceptOnMatch value="true" />
			  <levelToMatch value="ERROR" />
		  </filter>
		  <filter type="log4net.Filter.DenyAllFilter" />
	  </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="GelfUdpAppender" />
	  <appender-ref ref="ErrorLogFileAppender" />
    </root>
  </log4net>
</configuration>
