<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="main" connectionString="__MAINDBCONNECTIONSTRING__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="readonlyTransactional" connectionString="__ROTRANSDBCONNECTIONSTRING__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationId" value="__APPLICATIONID__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="AppObjectId" value="__APPOBJECTID__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="redisConnection" value="__REDISCONNECTION__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="redisCacheTimeout" value="__REDISCACHETIMEOUT__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="redisClientName" value="__REDISCLIENTNAME__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SettingTOMin" value="__SETTINGTOMIN__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SB_PGP_LicenseKey" value="__SBPGPLICENSEKEY__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="Queue" value="__QUEUE__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <system.web>
    <compilation debug="__COMPILATIONDEBUG__" xdt:Transform="SetAttributes" />
  </system.web>
  <log4net>
    <appender name="GelfUdpAppender" type="gelf4net.Appender.GelfUdpAppender, Gelf4net">
      <remoteAddress value="__LOG4NETREMOTEADDRESS__" xdt:Transform="SetAttributes" />
      <remotePort value="__LOG4NETREMOTEPORT__" xdt:Transform="SetAttributes" />
    </appender>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="__LOGFILE__" xdt:Transform="SetAttributes" />
    </appender>
  </log4net>
</configuration>