<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <appSettings>
    <add key="redisConnection" value="devappfab1.riadev.local:6379,devappfab2.riadev.local:6379,abortConnect=false"/>
    <add key="redisCacheTimeout" value="0.00:15:00"/>
    <add key="redisClientName" value=""/>

  </appSettings>

  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="ServiceBinding">
                          <security mode="Transport"/>
                    </binding>
                    <binding name="ServiceBinding1"/>
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="https://dp.korona.net:1702/qpay_int_in/services/phttp" binding="basicHttpBinding" bindingConfiguration="ServiceBinding"
                    contract="GoldenCrownServiceReference.ServicePort" name="ServicePort"/>
        </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IdentityModel.DisableMultipleDNSEntriesInSANCertificate=true"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
