USE [fxDB6]
GO
/****** Object:  Table [dbo].[systblApp_CoreAPI_Document]    Script Date: 4/20/2017 7:18:45 AM ******/
SET ANSI_NULLS ON
GO
GO
/*
:Description:
	systblApp_CoreAPI_Document

:Database Target:
	fxDB6

:Revision History:
	2017-04-20	CV	Created

*/
SET QUOTED_IDENTIFIER ON
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[systblApp_CoreAPI_Document]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[systblApp_CoreAPI_Document](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderNo] [nvarchar](20) NOT NULL,
	[DocumentType] [int] NOT NULL,
	[Folio] [int] NOT NULL,
	[Branch] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[TellerNumber] [nvarchar](100) NULL,
	[TellerName] [nvarchar](100) NULL,
	[Issued] [datetime] NOT NULL,
	[ExemptAmount] [money] NULL,	
	[Amount] [money] NOT NULL,
	[Tax] [money] NOT NULL,
	[TotalAmount] [money] NOT NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[ReceiverId] [uniqueidentifier] NOT NULL,
	[SentToSII] [bit] NULL,
	[DownloadedSII] [bit] NULL,
	[PaymentDate] [datetime] NOT NULL,
	[RecAgent] [int] NOT NULL,
	[PayAgent] [int] NULL,	
	[fDisabled] [bit] NULL,
	[fDelete] [bit] NULL,
	[fChanged] [bit] NULL,
	[fTime] [datetime] NULL,
	[fModified] [datetime] NULL,
	[fModifiedID] [int] NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS(SELECT 1 FROM sys.objects WHERE type_desc LIKE '%CONSTRAINT' AND OBJECT_NAME(OBJECT_ID)='DF_systblApp_CoreAPI_Document_fDisabled')
ALTER TABLE [dbo].[systblApp_CoreAPI_Document] ADD  CONSTRAINT [DF_systblApp_CoreAPI_Document_fDisabled]  DEFAULT ((0)) FOR [fDisabled]
GO
IF NOT EXISTS(SELECT 1 FROM sys.objects WHERE type_desc LIKE '%CONSTRAINT' AND OBJECT_NAME(OBJECT_ID)='DF_systblApp_CoreAPI_Document_fDelete')
ALTER TABLE [dbo].[systblApp_CoreAPI_Document] ADD  CONSTRAINT [DF_systblApp_CoreAPI_Document_fDelete]  DEFAULT ((0)) FOR [fDelete]
GO
IF NOT EXISTS(SELECT 1 FROM sys.objects WHERE type_desc LIKE '%CONSTRAINT' AND OBJECT_NAME(OBJECT_ID)='DF_systblApp_CoreAPI_Document_fChanged')
ALTER TABLE [dbo].[systblApp_CoreAPI_Document] ADD  CONSTRAINT [DF_systblApp_CoreAPI_Document_fChanged]  DEFAULT ((0)) FOR [fChanged]
GO
IF NOT EXISTS(SELECT 1 FROM sys.objects WHERE type_desc LIKE '%CONSTRAINT' AND OBJECT_NAME(OBJECT_ID)='DF_systblApp_CoreAPI_Document_fTime')
ALTER TABLE [dbo].[systblApp_CoreAPI_Document] ADD  CONSTRAINT [DF_systblApp_CoreAPI_Document_fTime]  DEFAULT (getdate()) FOR [fTime]
GO

GRANT SELECT, INSERT,UPDATE,DELETE on [systblApp_CoreAPI_Document] to [fxCoreAPI_Role]
GO

--Table extended property
IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'systblApp_CoreAPI_Document' AND [minor_id] = 0)
EXEC sys.sp_addextendedproperty
 @name=N'systblApp_CoreAPI_Document'
, @value=N'Store information of Documents generated by locations like boletas, facturas, notas de credito and debito' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
GO

--Column extended property
IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'Id' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'Id' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'Id'
, @value=N'Document Id generated by application' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'Id'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'OrderNo' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'OrderNo' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'OrderNo'
, @value=N'Order Number referenced by Document' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'OrderNo'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'Type' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'Type' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'DocumentType'
, @value=N'Type of Document' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'DocumentType'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'Folio' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'Folio' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'Folio'
, @value=N'Folio Number assigned by System' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'Folio'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'Branch' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'Branch' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'Branch'
, @value=N'Location where Document was generated' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'Branch'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'Description' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'Description' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'Description'
, @value=N'Description' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'Description'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'TellerNumber' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'TellerNumber' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'TellerNumber'
, @value=N'ID identifying the person who generates the Document having the Order' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'TellerNumber'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'TellerName' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'TellerName' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'TellerName'
, @value=N'Teller Name who generated the Order or Document' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'TellerName'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'Issued' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'Issued' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'Issued'
, @value=N'Date when it was issued the Document' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'Issued'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'ExemptAmount' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'ExemptAmount' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'ExemptAmount'
, @value=N'Document Amount without taxes' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'ExemptAmount'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'Amount' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'Amount' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'Amount'
, @value=N'Document Amount without taxes' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'Amount'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'Tax' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'Tax' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'Tax'
, @value=N'Tax Amount generated by the tx' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'Tax'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'TotalAmount' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'TotalAmount' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'TotalAmount'
, @value=N'Sum of Amount and Tax' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'TotalAmount'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'SenderId' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'SenderId' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'SenderId'
, @value=N'Company or Person who is sent the Document' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'SenderId'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'ReceiverId' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'ReceiverId' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'ReceiverId'
, @value=N'Company or Person who receives the Document' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'ReceiverId'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'SentToSII' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'SentToSII' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'SentToSII'
, @value=N'Boolean Value to know if document was sent to SII.' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'SentToSII'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'DownloadedSII' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'DownloadedSII' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'DownloadedSII'
, @value=N'Boolean Value to know if document was download from SII.' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'DownloadedSII'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'PaymentDate' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'PaymentDate' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'PaymentDate'
, @value=N'Date of Document Creation' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'PaymentDate'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'RecAgent' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'RecAgent' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'RecAgent'
, @value=N'Agent who receives the Order' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'RecAgent'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'PayAgent' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'PayAgent' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'PayAgent'
, @value=N'Agent who receives the Order' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'PayAgent'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'fDisabled' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'fDisabled' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'fDisabled'
, @value=N'Disable Flag. If true the record is disabled' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'fDisabled'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'fDelete' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'fDelete' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'fDelete'
, @value=N'Delete Flag. If true the record is deleted' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'fDelete'
GO


IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'fChanged' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'fChanged' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'fChanged'
, @value=N'Change Flag. If true the record is changed' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'fChanged'
GO



IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'fTime' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'fTime' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'fTime'
, @value=N'Creation Date  of record' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'fTime'
GO


IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'fModified' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'fModified' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'fModified'
, @value=N'Edition Date of record' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'fModified'
GO

IF NOT EXISTS (SELECT NULL FROM SYS.EXTENDED_PROPERTIES WHERE [major_id] = OBJECT_ID('systblApp_CoreAPI_Document') AND [name] = N'fModifiedID' AND [minor_id] = (SELECT [column_id] FROM SYS.COLUMNS WHERE [name] = 'fModifiedID' AND [object_id] = OBJECT_ID('systblApp_CoreAPI_Document')))
EXEC sys.sp_addextendedproperty
 @name=N'fModifiedID'
, @value=N'User id who modified the record' 
, @level0type=N'SCHEMA'
, @level0name=N'dbo'
, @level1type=N'TABLE'
, @level1name=N'systblApp_CoreAPI_Document'
, @level2type=N'COLUMN'
, @level2name=N'fModifiedID'
GO
