<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="main" providerName="System.Data.SqlClient" connectionString="Data Source=DEVMAIN1;Initial Catalog=fxDB6;Persist Security Info=True;User ID=appUser_CoreAPI1;Password=@ppC0r3ap1" />
		<add name="readonlyTransactional" providerName="System.Data.SqlClient" connectionString="Data Source=10.30.108.11;Initial Catalog=fxDB6;Persist Security Info=True;User ID=RIAFXOnline1;Password=R1a*#*DevOnlin31" />
	</connectionStrings>
	
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>