<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="main" connectionString="data source=DEVTS1;initial catalog=CES.CoreApi.Receipt_MainDB;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=CES.CoreApi.Receipt_Main" providerName="System.Data.SqlClient" />-->
    <!--<add name="main" connectionString="data source=(localdb)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|\CES.CoreApi.Receipt_MainDB.mdf;initial catalog=CES.CoreApi.Receipt_MainDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="main" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=CES.CoreApi.Receipt_MainDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ApiURL" value="http://200.6.99.188/api/Core.svc/Core" />
    <add key="ApiAuth" value="6f8bbbf2-d48d-4750-8333-611be4569738" />
    <add key="doctype" value="39" />
    <add key="foliostart" value="569002" />
    <add key="folioend" value="569002" />
    <add key="xml_in" value="C:\Users\cvalderrama\XML_IN\" />
    <add key="xml_out" value="C:\Users\cvalderrama\xml_out\"/>
  </appSettings>
</configuration>