<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Main" providerName="System.Data.SqlClient" connectionString="__MAINDBCONNECTIONSTRING__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
  </connectionStrings>
  <dataCacheRedisClient xdt:Transform="Replace">
    <cacheName value="__REDISCACHENAME__" />
    <cacheLifetime value="__REDISCACHELIFETIME__"/>
    <cacheConfigurationString value="__REDISCONFIGSTRING__"/>
  </dataCacheRedisClient>
  <appSettings>
    <add key="ApplicationID" value="__APPLICATIONID__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="UserNameID" value="__USERNAMEID__" xdt:Locator="Match(key)" xdt:Transform ="SetAttributes"/>
    <add key="AppObjectID" value="__APPOBJECTID__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="CoreAPIAppID" value="__COREAPIAPPID__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="CoreAPIAppObjectID" value="__COREAPIAPPOBJECTID__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="PayoutServiceAppID" value="__PAYOUTSERVICEAPPID__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="PayoutAppObjectID" value="__PAYOUTAPPOBJECTID__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MainConnectionString" value="__PAYOUTMAINDBCONNECTIONSTRING__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="FEConnectionString" value="__PAYOUTFEDBCONNECTIONSTRING__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="ROConnectionString" value="__PAYOUTRODBCONNECTIONSTRING__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="ImagesConnectionString" value="__PAYOUTIMAGESDBCONNECTIONSTRING__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="PersistenceLifeTime" value="__PERSISTENCELIFETIME__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="BeneficiaryNameSimilarPercent" value="__BENEFICIARYNAMESIMILARPERCENT__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SenderNameSimilarPercent" value="__SENDERNAMESIMILARPERCENT__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
  <performanceLog isPerformanceLogEnabled="__ISPERFORMANCELOGENABLED__" xdt:Transform="SetAttributes"/>
  <databasePerformanceLog isDatabasePerformanceLogEnabled="__ISDATABASEPERFORMANCELOGENABLED__" xdt:Transform="SetAttributes"/>
  <traceLog isTraceLogEnabled="__ISTRACELOGENABLED__" xdt:Transform="SetAttributes" />
  <log4net>
    <root>
      <level value="__LOG4NETLEVEL__" xdt:Transform="SetAttributes"/>
    </root>
    <appender name="ErrorLogFileAppender" xdt:Locator="Match(name)">
      <file value="__ERRORLOG__" xdt:Transform="SetAttributes"/>
    </appender>
    <appender name="ErrorLogUdpAppender" xdt:Locator="Match(name)">
      <remoteAddress value="__LOGSERVERIP__" xdt:Transform="SetAttributes"/>
      <remotePort value="__LOGSERVERPORT__" xdt:Transform="SetAttributes"/>
    </appender>
    <appender name="TraceLogFileAppender" xdt:Locator="Match(name)">
      <file value="__TRACELOG__" xdt:Transform="SetAttributes"/>
    </appender>
    <appender name="TraceLogUdpAppender" xdt:Locator="Match(name)">
      <remoteAddress value="__LOGSERVERIP__" xdt:Transform="SetAttributes"/>
      <remotePort value="__LOGSERVERPORT__" xdt:Transform="SetAttributes"/>
    </appender>
    <appender name="PerformanceLogFileAppender" xdt:Locator="Match(name)">
      <file value="__PERFLOG__" xdt:Transform="SetAttributes"/>
    </appender>
    <appender name="PerformanceLogUdpAppender" xdt:Locator="Match(name)">
      <remoteAddress value="__LOGSERVERIP__" xdt:Transform="SetAttributes"/>
      <remotePort value="__LOGSERVERPORT__" xdt:Transform="SetAttributes"/>
    </appender>
    <appender name="DatabasePerformanceLogFileAppender" xdt:Locator="Match(name)">
      <file value="__DBPERFLOG__" xdt:Transform="SetAttributes"/>
    </appender>
    <appender name="DatabasePerformanceLogUdpAppender" xdt:Locator="Match(name)">
      <remoteAddress value="__LOGSERVERIP__" xdt:Transform="SetAttributes"/>
      <remotePort value="__LOGSERVERPORT__" xdt:Transform="SetAttributes"/>
    </appender>
  </log4net>
  <system.web>
    <customErrors mode="On" xdt:Transform="SetAttributes" xdt:Locator="Match(mode)"/>
  </system.web>
</configuration>