<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <configSections>
   <section name="dataAccessConfiguration" type="CES.CoreApi.Foundation.Data.Configuration.DataAccessConfiguration, CES.CoreApi.Foundation.Data" />
    </configSections>

  <dataAccessConfiguration>
    <databaseServerGroups>
      <databaseServerGroup name="Main">
        <databaseServer name="Main" connectionString="Data Source=DEVMAIN1;Initial Catalog=fxDB6;Persist Security Info=True;User ID=appUser_CoreAPI;Password=@ppC0r3ap1" providerName="System.Data.SqlClient" />
      </databaseServerGroup>
    </databaseServerGroups>
  </dataAccessConfiguration>
</configuration>