<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="main" connectionString="__MAINDBCONNECTIONSTRING__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="readonlyTransactional" connectionString="__ROTRANSDBCONNECTIONSTRING__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationId" value="__APPLICATIONID__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="AppObjectId" value="__APPOBJECTID__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="apns_cert_file" value="__APNSCERTFILE__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="apns_cert_pwd" value="__APNSCERTPWD__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <!-- apns_environment 1 is for apple production , 0 is apple sandbox (dev test)-->
    <add key="apns_environment" value="__APNSENVIRONMENT__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>

  <log4net>
    <appender name="GelfUdpAppender" xdt:Locator="Match(name)">
      <remoteAddress value="__LOG4NETREMOTEADDRESS__" xdt:Transform="SetAttributes"/>
      <remotePort value="__LOG4NETREMOTEPORT__" xdt:Transform="SetAttributes"/>
    </appender>
    <appender name="ErrorLogFileAppender" xdt:Locator="Match(name)">
      <file type="log4net.Util.PatternString" value="__LOGFILE__" xdt:Transform="SetAttributes"/>
    </appender>
  </log4net>
</configuration>