<appSettings>
  <add key="ApiURL" value="http://200.6.99.188/api/Core.svc/Core" />
  <add key="ApiAuth" value="6f8bbbf2-d48d-4750-8333-611be4569738" />
  <add key="doctype" value="39" />
  <add key="foliostart" value="569002" />
  <add key="folioend" value="569002" />
  <add key="xml_in" value="C:\Users\cvalderrama\XML_IN\" />
  <add key="xml_out" value="C:\Users\cvalderrama\xml_out\"/>
  <add key="dbpath" value="C:\Users\cvalderrama\Source\Repos\CoreAPI\CES.CoreApi.Receipt_Main\CES.CoreApi.Receipt_Main.UI.WPF\Database\"/>
  <add key="ApiReceiptServiceUrl" value="http://localhost:48712/"/>
</appSettings>