<form class="form-horizontal" name="settingForm" novalidate role="form" >
    <fieldset ng-disabled="isSaveMode">
        <legend>Core API {{serviceName}} Settings</legend>
        <br />
        <div class="form-group">
            <label for="settings" class="col-sm-3 control-label">Setting</label>
            <div class="col-sm-9">
                <select name="settings" ng-model="selectedSetting" ng-options="setting.Name for setting in settings" id="settings" class="form-control">
                    <option value="">Select Setting</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-if="settingSelected()" ng-class="{ 'has-error' : settingForm.value.$invalid }">
            <label for="value" class="col-sm-3 control-label">Value</label>
            <div class="col-sm-9">
                <textarea name="value" id="value" class="form-control" rows="5" cols="40"
                          ng-model="selectedSetting.Value"
                          ng-required="true"></textarea>
                <span class="help-block"
                      ng-if="settingForm.value.$error.required">Value is required</span>
            </div>
        </div>
        <div class="form-group" ng-if="settingSelected()" ng-class="{ 'has-error' : settingForm.description.$invalid }">
            <label for="description" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <textarea name="description" id="description" class="form-control" rows="3" cols="40"
                          ng-model="selectedSetting.Description"
                          ng-required="true"></textarea>
                <span class="help-block"
                      ng-if="settingForm.description.$error.required">Description is required</span>
            </div>
        </div>
    </fieldset>
    <br />
    <fieldset ng-disabled="isSaveMode">
        <legend></legend>
        <div class="col-sm-offset-3 col-sm-9">
            <input type="button" class="btn btn-default" value="Cancel"
                   ng-click="cancelForm()" />
            <input type="reset" class="btn btn-warning" value="Reset"
                   ng-click="resetForm()"
                   ng-if="settingSelected()" />
            <input type="submit" class="btn btn-primary" value="Save"
                   ng-click="saveForm()"
                   ng-if="settingSelected()"
                   ng-disabled="settingForm.$invalid" />
            <div class="appalert">
                <div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>
                <div class="alert alert-success" ng-if="showSuccessAlert"><strong>Done!</strong> {{successTextMessage}}</div>
            </div>
        </div>
    </fieldset>
</form>