<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="geoLocationConfigurationSection" type="CES.CoreApi.GeoLocation.Configuration.GeoLocationConfigurationSection" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<geoLocationConfigurationSection>
		<Bing url="https://dev.virtualearth.net/REST/v1" key="An29WgDtCMiGMs4yQYXFeaFSLXdlRHDY7Li54j2Hr4o6oidMUyR9UNfumHv7LHzS" />
		<Google url="https://maps.googleapis.com/maps/api" key="" />
		<MelissaData url="https://expressentry.melissadata.net/jsonp/globalExpressAddress" key="113273427" autoCompleteUrl="https://expressentry.melissadata.net/jsonp/ExpressAddress" />
		<AutompleteDefaultNumberOfHints value="15" />
		<AutompleteMaximumNumberOfHints value="15" />
		<NumberOfProvidersToProcessResult value="2" />
	</geoLocationConfigurationSection>
	<connectionStrings>
		<add name="Main" providerName="System.Data.SqlClient" connectionString="Data Source=DEVMAIN1;Initial Catalog=fxDB6;Persist Security Info=True;User ID=appUser_CoreAPI1;Password=@ppC0r3ap1" />
	</connectionStrings>

	<appSettings>
		<add key="MelissaDataDoGlobalAddressKey" value="UpTATat0ci3mB-9x2nmDaX**" />
		<add key="MelissaDataDoGlobalAddressUrl" value="https://address.melissadata.net/V3/WEB/GlobalAddress/doGlobalAddress" />
		<add key="ApplicationID" value="8000" />
		<add key="UserNameID" value="0" />
		<add key="AppObjectID" value="0" />
		<add key="redisConnection" value="devappfab1.riadev.local:6379,devappfab2.riadev.local:6379,abortConnect=false" />
		<add key="redisCacheTimeout" value="0.00:15:00" />
		<add key="redisClientName" value="CES.CoreApi.GeoLocation" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
		<customErrors mode="RemoteOnly"></customErrors>
	</system.web>
	<system.webServer>
		<defaultDocument enabled="true"></defaultDocument>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />

			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<appender name="GelfUdpAppender" type="gelf4net.Appender.GelfUdpAppender, Gelf4net">
			<remoteAddress value="127.0.0.1" />
			<remotePort value="12200" />
			<layout type="Gelf4net.Layout.GelfLayout, Gelf4net">
				<param name="AdditionalFields" value="app:App_Name,service:Service_Name,date:%date,thread:%thread,level:%level" />
				<param name="ConversionPattern" value="%message" />
			</layout>
		</appender>
		<appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="C:\logs\CES.CoreApi.GeoLocation_logs_%date{yyyy-MM-dd}.txt" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%newline%date - %m%newline" />
			</layout>
			<filter type="log4net.Filter.LevelMatchFilter">
				<acceptOnMatch value="true" />
				<levelToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.LevelMatchFilter">
				<acceptOnMatch value="true" />
				<levelToMatch value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="GelfUdpAppender" />
			<appender-ref ref="ErrorLogFileAppender" />
		</root>
	</log4net>
	<!--Proxy settings used on Production only-->

</configuration>
