@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="serviceConfigApp">
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/mini-spa/style")
</head>
    <body class="container">
        <br/>
        <div ng-view>
        </div>
    </body>
    @Scripts.Render("~/bundles/mini-spa/script")
</html>
