<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation debug="false" xdt:Transform="SetAttributes(debug)" />
		<customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
	</system.web>
	<connectionStrings>
		<add name="Main" connectionString="__CONNECTIONSTRINGMAIN__" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
	</connectionStrings>
	<appSettings>
		<add key="CacheName" value="__CACHENAME__" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
	</appSettings>

	<dataCacheClients>
		<dataCacheClient>
			<hosts xdt:Transform="Replace">
				<host name="__APPFABRICSERVER1__" cachePort="22233" />
				<host name="__APPFABRICSERVER2__" cachePort="22233" />
				<host name="__APPFABRICSERVER3__" cachePort="22233" />
			</hosts>
			<securityProperties mode="__APPFABSECURITYMODE__" protectionLevel="__APPFABPROTECTIONLEVEL__"  xdt:Transform="SetAttributes" />"
		</dataCacheClient>
	</dataCacheClients>

	<system.serviceModel>
		<diagnostics>
			<messageLogging logEntireMessage="__LOGENTIREMSG__" logMessagesAtServiceLevel="__LOGSVCLEVEL__" logMessagesAtTransportLevel="__LOGTRANSPORTLEVEL__" maxMessagesToLog="10000" maxSizeOfMessageToLog="1024000" xdt:Transform="SetAttributes" />
		</diagnostics>
	</system.serviceModel>

	<system.diagnostics>
		<sharedListeners>
			<add name="xml" initializeData="__SVCLOG__" xdt:Transform="SetAttributes(initializeData)" xdt:Locator="Match(name)" />
		</sharedListeners>
	</system.diagnostics>

	<log4net>
		<!-- Replace all log server IPs -->
		<appender>
			<remoteAddress value="__LOGSERVERIP__" xdt:Transform="SetAttributes" />
		</appender>

		<appender name="ErrorLogFileAppender" xdt:Locator="Match(name)">
			<file value="__ERRORLOG__" xdt:Transform="SetAttributes(value)" />
		</appender>
		<appender name="TraceLogFileAppender" xdt:Locator="Match(name)">
			<file value="__TRACELOG__" xdt:Transform="SetAttributes(value)" />
		</appender>
		<appender name="PerformanceLogFileAppender" xdt:Locator="Match(name)">
			<file value="__PERFLOG__" xdt:Transform="SetAttributes(value)" />
		</appender>
		<appender name="DatabasePerformanceLogFileAppender" xdt:Locator="Match(name)">
			<file value="__DBPERFLOG__" xdt:Transform="SetAttributes(value)" />
		</appender>
		
	</log4net>
</configuration>