<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<dataAccessConfiguration>
		<databaseServerGroups>
			<databaseServerGroup name="Main" xdt:Locator="Match(name)">
				<databaseServer name="Main" connectionString="__MAINDBCONNECTIONSTRING__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
			</databaseServerGroup>
		</databaseServerGroups>
	</dataAccessConfiguration>
	<dataCacheRedisClient>
		<hosts>
			<host server="__REDISSERVER1__" port="__REDISSERVERPORT__" xdt:Transform="SetAttributes"/>
			<host server="__REDISSERVER2__" port="__REDISSERVERPORT__" xdt:Transform="Insert"/>
			<host server="__REDISSERVER3__" port="__REDISSERVERPORT__" xdt:Transform="Insert"/>
		</hosts>
	</dataCacheRedisClient>
	<system.web>
		<compilation debug="false" xdt:Transform="SetAttributes"/>
		<customErrors mode="RemoteOnly" xdt:Transform="SetAttributes"/>
	</system.web>
	<performanceLog isPerformanceLogEnabled="__ISPERFORMANCELOGENABLED__" xdt:Transform="SetAttributes"/>
	<databasePerformanceLog isDatabasePerformanceLogEnabled="__ISDATABASEPERFORMANCELOGENABLED__" xdt:Transform="SetAttributes"/>
	<traceLog isTraceLogEnabled="__ISTRACELOGENABLED__" xdt:Transform="SetAttributes"/>
	<log4net>
		<root>
			<level value="__LOG4NETLEVEL__" xdt:Transform="SetAttributes"/>
		</root>
		<appender name="ErrorLogFileAppender" xdt:Locator="Match(name)">
			<file value="__ERRORLOG__" xdt:Transform="SetAttributes"/>
		</appender>
		<appender name="ErrorLogUdpAppender" xdt:Locator="Match(name)">
			<remoteAddress value="__LOGSERVERIP__" xdt:Transform="SetAttributes"/>
			<remotePort value="__LOGSERVERPORT__" xdt:Transform="SetAttributes"/>
		</appender>
		<appender name="TraceLogFileAppender" xdt:Locator="Match(name)">
			<file value="__TRACELOG__" xdt:Transform="SetAttributes"/>
		</appender>
		<appender name="TraceLogUdpAppender" xdt:Locator="Match(name)">
			<remoteAddress value="__LOGSERVERIP__" xdt:Transform="SetAttributes"/>
			<remotePort value="__LOGSERVERPORT__" xdt:Transform="SetAttributes"/>
		</appender>
		<appender name="PerformanceLogFileAppender" xdt:Locator="Match(name)">
			<file value="__PERFLOG__" xdt:Transform="SetAttributes"/>
		</appender>
		<appender name="PerformanceLogUdpAppender" xdt:Locator="Match(name)">
			<remoteAddress value="__LOGSERVERIP__" xdt:Transform="SetAttributes"/>
			<remotePort value="__LOGSERVERPORT__" xdt:Transform="SetAttributes"/>
		</appender>
		<appender name="DatabasePerformanceLogFileAppender" xdt:Locator="Match(name)">
			<file value="__DBPERFLOG__" xdt:Transform="SetAttributes"/>
		</appender>
		<appender name="DatabasePerformanceLogUdpAppender" xdt:Locator="Match(name)">
			<remoteAddress value="__LOGSERVERIP__" xdt:Transform="SetAttributes"/>
			<remotePort value="__LOGSERVERPORT__" xdt:Transform="SetAttributes"/>
		</appender>
	</log4net>

	<system.net>
		<defaultProxy enabled="__PROXYENABLED__" xdt:Transform="SetAttributes">
			<proxy proxyaddress="__PROXYADDRESS__" xdt:Transform="SetAttributes"/>
		</defaultProxy>
	</system.net>

</configuration>
