<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="receipt" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=CES.CoreApi.Receipt_MainDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="main" providerName="System.Data.SqlClient" connectionString="Data Source=DEVMAIN1;Initial Catalog=fxDB6;Persist Security Info=True;User ID=appUser_CoreAPI1;Password=@ppC0r3ap1" />-->
    <add name="readonlyTransactional" providerName="System.Data.SqlClient" connectionString="Data Source=10.30.108.11;Initial Catalog=fxDB6;Persist Security Info=True;User ID=RIAFXOnline1;Password=R1a*#*DevOnlin31" />
    <add name="transactional" providerName="System.Data.SqlClient" connectionString="Data Source=10.30.110.56;Initial Catalog=CES.CoreApi.Receipt_MainDB;Persist Security Info=True;User ID=sa;Password=sa" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationId" value="8000" />
    <add key="AppObjectId" value="0" />
    <add key="redisConnection" value="devappfab1.riadev.local:6379,devappfab2.riadev.local:6379,abortConnect=false" />
    <add key="redisCacheTimeout" value="0.00:15:00" />
    <add key="redisClientName" value="CES.CoreApi.Receipt_Main" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="ApiURL" value="http://200.6.99.188/api/Core.svc/Core" />
    <add key="ApiAuth" value="6f8bbbf2-d48d-4750-8333-611be4569738" />
    <add key="doctype" value="39" />
    <add key="foliostart" value="569002" />
    <add key="folioend" value="569002" />
    <add key="xml_in" value="C:\Users\cvalderrama\XML_IN\" />
    <add key="xml_out" value="C:\Users\cvalderrama\xml_out\" />
    <add key="dbpath" value="C:\Users\cvalderrama\Source\Repos\CoreAPI\CES.CoreApi.Receipt_Main\CES.CoreApi.Receipt_Main.UI.WPF\Database\" />
    <add key="ApiReceiptServiceUrl" value="http://localhost:48712/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <!--GrayLog Appender (Production)-->
    <appender name="GelfUdpAppender_Production" type="Gelf4net.Appender.GelfUdpAppender, Gelf4net">
      <remoteAddress value="10.30.8.6" />
      <remotePort value="12200" />
      <layout type="Gelf4net.Layout.GelfLayout, Gelf4net">
        <param name="AdditionalFields" value="app:CES.CoreApi.Receipt_Main,timestamp:%date,thread:%thread,level:%level,logger:%logger,LoggerName:CES.Logging" />
        <param name="ConversionPattern" value="CES.CoreApi.Receipt_Main  %date - %property{CorrelationId} - %m%newline" />
      </layout>
    </appender>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\logs\CES.CoreApi.Receipt_Main\CES_CoreApi_Receipt_Main_Error_%date{yyyy-MM-dd}.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date - %property{CorrelationId} - %m%newline" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="false" />
        <levelToMatch value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="GelfUdpAppender_Production" />
      <appender-ref ref="ErrorLogFileAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>