<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="main" providerName="System.Data.SqlClient" connectionString="__MAINDBCONNECTIONSTRING__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
  <log4net>
	  <appender name="ErrorLogFileAppender">
		  <file type="log4net.Util.PatternString" value="__LOGFILENAME__" xdt:Transform="SetAttributes" xdt:Locator="Match(type)"/>
	  </appender>
  </log4net>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>